<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/font-awesome.min.css"  rel="stylesheet"/>
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    @RenderSection("scripts", false)
</head>

<body>
    <div class="navbar navbar-dark bg-dark" role="navigation">
        <div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Money Lover</a>
                </li>
                @await Component.InvokeAsync("UserNavbar")
            </ul>
            
        </div>
      
           

    </div>


    <div class="row m-1 p-1">
        <div class="col-2 mt-3">
            @await Component.InvokeAsync("Menu")
        </div>
        <div class="col-10 mt-3">
            @if (ViewBag.Title != null)
            {
                
                <h4 class="text-info mb-3">@ViewBag.Title</h4>
            }

            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            @RenderBody()
        </div>
    </div>

</body>
</html>