@model IEnumerable<Expense>
@{ 
    ViewBag.Title = "List of expenses";
}
<table class="table table-sm table-bordered">
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Date</th>
        <th>Category</th>
        <th>Share</th>
        <th>Amount</th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="6" class="text-center">No expenses</td></tr>
    }
    else
    {
        foreach (Expense e in Model)
        {
            <tr>
                <td>@e.ExpenseId</td>
                <td>@e.Description</td>
                <td>@e.Date.ToString("dd/MM/yyyy")</td>
                <td>@e.Category.Name</td>
                <td>@(e.ShareExpense?"Yes":"No")</td>
                <td>@e.Amount.ToString("c")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@e.ExpenseId" class="btn btn-sm btn-secondary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@e.ExpenseId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    }
</table>
<a asp-action="Create" class="btn btn-primary">Add Expense</a>